<div ng-controller="MapDetailsController">
<div class="panel panel-default" ng-if="currentMap !== undefined">
  <div class="panel-heading" translate>EDIT_MAP {{currentMap.title}}</div>
  <div class="panel-body">
    <div class="form-group" style="text-align: right">
      <a class="btn btn-default" target="_blank" href="{{hostname}}/embed/#{{currentMap.id}}" target="{{linkwidget.target}}" translate>Display this map</a>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="currentMap.title" />
    </div>

    <tabset class="map-editor">

      <!-- DISPLAY -->
      <tab>
        <tab-heading><i class="fa fa-crosshairs"></i> {{'MAP' | translate}}</tab-heading>
        <div ng-controller="DrawController" ng-if="currentMap !== undefined">

          <h2>Contrôle du niveau de zoom</h2>
          <a ng-click="save({withZoom: 1})" class="btn btn-primary" translate>Save zoom and position</a>
          <a ng-click="resetZoom()" class="btn btn-default" translate>Reset zoom and position</a>

          <leaflet center="currentMap" layers="mapLayers"  width="100%" height="400"></leaflet>

          <h2>Contrôle des POI</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="list-group">
                <a ng-repeat="feature in currentMap.drawnFeatures" ng-class="{'list-group-item': true, 'active': feature.selected}" ng-click="selectFeature(feature)">
                  <i ng-if="feature.properties.label" class="fa fa-tag"></i>
                  <i ng-if="feature.properties.popupContent" class="fa fa-comment-o"></i>
                  <span>{{feature.geometry.type}}</span>
                  <span>{{feature.properties.label}}</span>
                </a>
              </div>
            </div>
            <div class="col-md-8" ng-if="currentFeature">
              <div class="form-group">
                <label>Label</label>
                <input class="form-control" type="text" ng-model="currentFeature.properties.label"/>
              </div>
              <div class="form-group">
                <label>popupContent</label>
                <textarea class="form-control" rows="3" ng-model="currentFeature.properties.popupContent" ui-tinymce="tinymceOptions" name="popupContent" id="popupContent"></textarea>
              </div>
            </div>
          </div>

          <h2>Recherche par adresse</h2>
          <div class="form-group">
            <input type="search" placeholder="Adresse" class="form-control" ng-model="geocodingQuery" ui-keypress="{13:'searchGeoCoding(geocodingQuery)'}"/>
          </div>

          <table class="table table-bordered">
            <tr ng-repeat="place in geocodingResults">
              <td>{{place.display_name}}</td>
              <td>
                <button class="btn btn-primary" ng-click="updateLocation(place)" class="list-group-item">{{'BUTTON_LOCATE_HERE' | translate}}</button>
              </td>
            </tr>
          </table>

        </div>
      </tab>

      <!-- EDIT METADATA -->
      <tab>
        <tab-heading><i class="fa fa-info"></i> {{'INFORMATION' | translate}}</tab-heading>
        <div class="col-md-12">
            <div class="form-group">
              <label>ID</label>
              <input type="text" class="form-control" readonly ng-model="currentMap.id" required />
            </div>
            <div class="form-group">
              <label translate>DESCRIPTION</label>
              <textarea class="form-control" rows="3" ng-model="currentMap.description"></textarea>
            </div>
        </div>
      </tab>

      <!-- LAYERS -->
      <tab>
      <tab-heading><i class="fa fa-bars"></i> {{'LAYERS' |translate}}</tab-heading>
        <h3 translate>LAYERS_DISPLAYED</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>{{'TITLE' | translate}}
                  <button ng-click="sortLayer('asc')" class="btn btn-xs btn-default"><i class="fa fa-sort-alpha-asc"></i></button>
                  <button ng-click="sortLayer('desc')" class="btn btn-xs btn-default"><i class="fa fa-sort-alpha-desc"></i></button>
                </th>
                <th translate>ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="layer in currentMap.layers | filter:layer.title">
                <td><input type="text" class="form-control" ng-model="layer.title"/></td>
                <td>
                  <div class="form-inline">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="layer.displayed">Affiché
                      </label>
                    </div>
                    <div class="btn-group">
                      <button ng-click="upLayer(layer)" type="button" ng-class="{'btn':1,'btn-default':!$first}" ng-disabled="$first"><i class="fa fa-arrow-up"></i></button>
                      <button ng-click="downLayer(layer)" type="button" ng-class="{'btn':1,'btn-default':!$last}" ng-disabled="$last"><i class="fa fa-arrow-down"></i></button>
                    </div>
                    <button ng-click="rmLayer(layer)" type="button" class="btn btn-danger" translate>ACTION_DELETE</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3 translate>LAYERS_AVAILABLE</h3>
        <div class="input-group margin-bottom-sm">
          <input type="search" class="form-control" ng-model="ql" placeholder="Rechercher un layer" />
          <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        </div>

        <div class="list-group">
          <a ng-repeat="layer in layers | filter:ql" href="" class="list-group-item" ng-click="addLayer(layer);">
            <h4 class="list-group-item-heading"><i class="text-primary fa fa-plus-square"></i> {{layer.title}}</h4>
            <p class="list-group-item-text">{{layer.description}}</p>
          </a>
        </div>
      </tab>

      <!-- Controller -->
      <tab>
      <tab-heading><i class="fa fa-gamepad"></i> {{'CONTROLS' | translate}}</tab-heading>
        <p class="help-block" translate>CONTROLS_HELP</p>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="currentMap.leaflet.zoom"><i class="fa fa-sort"></i> {{'CONTROL_ZOOM' | translate}}
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="currentMap.leaflet.minimap"> <i class="fa fa-square-o"></i> {{'CONTROL_MINIMAP' | translate}}
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="currentMap.leaflet.controlLayers"><i class="fa fa-bars"></i> {{'CONTROL_LAYER' | translate}}
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="currentMap.leaflet.fullscreen"><i class="fa fa-square-o"></i> {{'CONTROL_FULLSCREEN' | translate}}
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="currentMap.leaflet.controlGeocoder"><i class="fa fa-search"></i> {{'CONTROL_GEOCODER' | translate}}
          </label>
        </div>
      </tab>

      <!-- FOND -->
      <tab>
      <tab-heading><i class="fa fa-globe"></i> {{'LAYERS_TILE' | translate}}</tab-heading>
        <h3 translate>LAYERS_TILE_DISPLAYED</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>{{'TITLE' | translate}}</th>
                <th translate>ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="layer in currentMap.tileLayers | filter:layer.title">
                <td><input type="text" class="form-control" ng-model="layer.title"/></td>
                <td>
                  <div class="form-inline">
                    <div class="btn-group">
                      <button ng-click="upTileLayer(layer)" type="button" ng-class="{'btn':1,'btn-default':!$first}" ng-disabled="$first"><i class="fa fa-arrow-up"></i></button>
                      <button ng-click="downTileLayer(layer)" type="button" ng-class="{'btn':1,'btn-default':!$last}" ng-disabled="$last"><i class="fa fa-arrow-down"></i></button>
                    </div>
                    <button ng-click="rmTileLayer(layer)" type="button" class="btn btn-danger" translate>ACTION_DELETE</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3 translate>LAYERS_TILE_AVAILABLE</h3>
        <div class="input-group margin-bottom-sm">
          <input type="search" class="form-control" ng-model="ql" placeholder="Rechercher un layer" />
          <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        </div>

        <div class="list-group">
          <a ng-repeat="layer in tileLayers | filter:ql" href="" class="list-group-item" ng-click="addTileLayer(layer);">
            <h4 class="list-group-item-heading"><i class="text-primary fa fa-plus-square"></i> {{layer.title}}</h4>
            <p class="list-group-item-text">{{layer.description}}</p>
          </a>
        </div>
      </tab>
    </tabset>
  </div>
  <div class="panel-footer">
    <div class="form-group" style="text-align: right">
      <button class="btn btn-danger" ng-click="delete()"><i class="fa fa-trash-o"></i> {{'ACTION_DELETE_MAP' | translate}}</button>
    </div>
  </div>
</div>
</div>