<div ng-controller="ShareController">
<div class="panel panel-default" ng-if="currentMapId">
  <div class="panel-heading">{{'SHARE' | translate}} <i class="fa fa-share-square-o"></i></div>
  <div class="panel-body">
  <tabset>
    <tab heading="lien">
    <div class="form-horizontal" ng-model="linkwidget" ng-init="linkwidget = {target:'_blank', text:'lien'}">
    <p class="help-block">{{'COPY_PAST_LINK_DESC' | translate}}</p>
    <div class="form-group">
      <label class="col-sm-2">{{'TARGET' | translate}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="linkwidget.target"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">{{'TEXT' | translate}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="linkwidget.text"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">{{'SNIPPET' | translate}}</label>
      <div class="col-sm-10">
        <textarea class="form-control" onclick="this.select();" readonly>&lt;a href="{{hostname}}/embed/#{{currentMapId}}" target="{{linkwidget.target}}"&gt;{{linkwidget.text}}&lt;/a&gt;</textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">{{'URL' | translate}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" onclick="this.select();" readonly value="{{hostname}}/embed/#{{currentMapId}}"/>
      </div>
    </div>
    <a href="{{hostname}}/embed/#{{currentMapId}}" target="{{linkwidget.target}}">{{linkwidget.text}}</a>
    </div>
    </tab>
    <tab heading="iframe">
    <div class="form-horizontal" ng-model="iframewidget" ng-init="iframewidget = {width:'100%', height:'400px'}">
    <p class="help-block">{{'COPY_PASTE_IFRAME_DESC' | translate}}</p>
    <div class="form-group">
      <label class="col-sm-2">{{'WIDTH' | translate}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="iframewidget.width"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">{{'HEIGHT' | translate}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="iframewidget.height"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">Code (snippet)</label>
      <div class="col-sm-10">
        <textarea class="form-control" onclick="this.select();" readonly>&lt;iframe src="{{hostname}}/embed/#{{currentMapId}}" width="{{iframewidget.width}}" height="{{iframewidget.height}}" /&gt;</textarea>
      </div>
    </div>
  </div>
  </tab>
</div>
</div>